description = "Section for client"

[viewBag]
snippetCode = "partners"
snippetName = "partners"
==

<div class="page-content bg-light">
    <div class="container partner-div">
    	<div class="title">Our Partners</div>
        <div class="col-md-8 col-12 mx-auto">
        	<a href="#"><img src="/agit-project/themes/rainlab-bonjour/assets/images/company_logo/cisco.png" alt="cisco"></a>
        	<a href="#"><img src="/agit-project/themes/rainlab-bonjour/assets/images/company_logo/cisco.png" alt="cisco"></a>
        	<a href="#"><img src="/agit-project/themes/rainlab-bonjour/assets/images/company_logo/cisco.png" alt="cisco"></a>
        	<a href="#"><img src="/agit-project/themes/rainlab-bonjour/assets/images/company_logo/cisco.png" alt="cisco"></a>
        	<a href="#"><img src="/agit-project/themes/rainlab-bonjour/assets/images/company_logo/cisco.png" alt="cisco"></a>
        	<a href="#"><img src="/agit-project/themes/rainlab-bonjour/assets/images/company_logo/cisco.png" alt="cisco"></a>
        	<a href="#"><img src="/agit-project/themes/rainlab-bonjour/assets/images/company_logo/cisco.png" alt="cisco"></a>
        	<a href="#"><img src="/agit-project/themes/rainlab-bonjour/assets/images/company_logo/cisco.png" alt="cisco"></a>
        	<a href="#"><img src="/agit-project/themes/rainlab-bonjour/assets/images/company_logo/cisco.png" alt="cisco"></a>
        	<a href="#"><img src="/agit-project/themes/rainlab-bonjour/assets/images/company_logo/cisco.png" alt="cisco"></a>
        	<a href="#"><img src="/agit-project/themes/rainlab-bonjour/assets/images/company_logo/cisco.png" alt="cisco"></a>
        	<a href="#"><img src="/agit-project/themes/rainlab-bonjour/assets/images/company_logo/cisco.png" alt="cisco"></a>
        </div>
    </div>
</div>